<html>
    <head>
        <title>Breathe|Recipient</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style type="text/css">
        body{
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXxIH7KeOORSu_F5ZHQWWBfQIsNlgD0Jlw72a2AexJlwcerCjv2B3prkMfFw") no-repeat fixed;
        background-size: cover;
        }
        .container{
            margin-top: 5%;
            background: rgba(134, 176, 170,0.3);
        }
        </style>
    </head>
    <body>
